{% extends 'User/base.html' %} 
{% block title %}Home Page{% endblock %} 
{% block content%}
<div class="container-fluid">
  <div class="row listen-title">
    <h1 class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 ">LISTEN!</h1>
  </div>
  <div class="row phrase-description">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 phrase">
      <div class="text-fill">
        <h2 class="catchphrase-text">Navigate your sonic odyssey</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 description">
      <h2 class="description-text"> 
        <span class = 'bold-listen'>LISTEN! </span>is your ultimate platform for interactive music sharing, allowing you to connect with friends.
        <br><br>Dive into a vibrant community where you can express your music preferences, discover new tracks, and create unforgettable musical experiences together!
      </h2>
    </div>
  </div>
</div>
{% endblock %}  
