{% extends 'User/base.html' %} 
{% block title %}Home Page{% endblock %} 
{% block content%}
<div class="landing-page" style="width: 1280px; height: 832px; position: relative; background: #1E1E1E; border-radius: 50px; overflow: hidden">
  <div class="listen-title" style="width: 373px; height: 124px; left: 455px; top: 53px; position: absolute; text-align: center; color: white; font-size: 96px; font-family: Outfit; font-weight: 800; word-wrap: break-word">LISTEN!</div>
  <div class="phrase-description" style="left: 52px; top: 226px; position: absolute; justify-content: center; align-items: center; gap: 100px; display: inline-flex">
    <div class="Catchphrase" style="width: 528px; height: 328px; position: relative">
      <div class="catchphrase-fill" style="width: 528px; height: 328px; left: 0px; top: 0px; position: absolute; opacity: 0.40; background: #006D5B; border-radius: 50px"></div>
      <div class="catchphrase-text" style="width: 438px; height: 168px; left: 31px; top: 82px; position: absolute; color: white; font-size: 64px; font-family: Inter; font-weight: 400; text-transform: capitalize; word-wrap: break-word">Navigate your sonic odyssey</div>
    </div>
    <div class="description-text" style="width: 560px; height: 320px">
        <span style="color: #036354; font-size: 30px; font-family: Inter; font-weight: 800; word-wrap: break-word">LISTEN!</span>
        <span style="color: #104039; font-size: 30px; font-family: Inter; font-weight: 800; word-wrap: break-word"> </span>
        <span style="color: white; font-size: 30px; font-family: Inter; font-weight: 300; word-wrap: break-word">is your ultimate platform for interactive music sharing, allowing you to connect with your college mates.
        <br/>Dive into a vibrant community where you can express your music preferences, discover new tracks, and create unforgettable musical experiences together!"</span>
    </div>
  </div>
</div>
{% endblock %}  
