.list-group-item {
    margin-bottom: 50px; /* Adjust this value as needed */
    display: flex; 
    justify-content: center; 
    align-items: center; 

}
.items{
    border: 5px solid #006D5B;
    background-color: #1E1E1E;
    border-radius: 15px;

}
h1{
    font-family: 'Inter', sans-serif;
    font-size: 70px;
    color: #006D5B;
    text-align: center;
}
.sticky-form {
  position: sticky;
  top: 0px; /* Adjust this value to avoid overlap with the navbar */
   z-index: 1000; 
}
